<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.generator_code.mapper.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.inspur.generator_code.entity.Teacher">
        <id column="ID" property="id" />
        <result column="TEACHER_NAME" property="teacherName" />
        <result column="TEACHER_AGE" property="teacherAge" />
        <result column="DELETE_FLAG" property="deleteFlag" />
        <result column="VERSION" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TEACHER_NAME, TEACHER_AGE, DELETE_FLAG, VERSION
    </sql>

</mapper>
